image: rancher/rke2-runtime:{{replace "+" "-" build.tag}}
manifests:
  - image: rancher/rke2-runtime:{{replace "+" "-" build.tag}}-linux-amd64
    platform: 
      architecture: amd64
      os: linux
  - image: rancher/rke2-runtime:{{replace "+" "-" build.tag}}-windows-amd64
    platform: 
      architecture: amd64
      os: windows
  - image: rancher/rke2-runtime:{{replace "+" "-" build.tag}}-linux-s390x
    platform:
      architecture: s390x
      os: linux
