name: Nightly Install
on:
  schedule:
    - cron: "0 0 * * 1-5"
  workflow_dispatch: {}
  pull_request:
    paths:
      - '.github/workflows/nightly-install.yaml'

jobs:
  test:
    name: "Smoke Test"
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        channel: [stable]
        vm: [centos-9, alma-10, opensuse-leap, ubuntu-2404, windows-2022, windows-2025]
        include:
          - {channel: latest, vm: alma-10}
          - {channel: latest, vm: ubuntu-2404}
      max-parallel: 2
    defaults:
      run:
        working-directory: tests/install/${{ matrix.vm }}
    env:
      INSTALL_RKE2_CHANNEL: ${{ matrix.channel }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with: {fetch-depth: 1}
      - name: Remove Unnecessary Tools
        run: |
          sudo rm -rf \
            /home/linuxbrew \
            /home/packer \
            /opt/az \
            /opt/microsoft \
            /usr/lib/firefox \
            /usr/lib/google-cloud-sdk \
            /usr/local/julia* \
            /usr/local/share/boost \
            /usr/local/share/chromium \
            /usr/local/share/powershell \
            /usr/share/az* \
            /usr/share/dotnet \
            /usr/share/miniconda \
            /usr/share/swift
          df -khl
      # Don't cache Windows VMs, they are 5-7GB each, which would eat our entire 10GB cache
      - name: "Vagrant Cache"
        if: ${{ !contains(matrix.vm, 'windows') }}
        uses: actions/cache@v5
        with:
          path: |
             ~/.vagrant.d/boxes
          key: vagrant-box-${{ matrix.vm }}
        id: vagrant-cache
        continue-on-error: true
      - name: Set up vagrant and libvirt
        uses: ./.github/actions/vagrant-setup
      - name: "Vagrant Plugin(s)"
        run: vagrant plugin install vagrant-reload vagrant-rke2
      - name: "Vagrant Up ⏩ Install RKE2"
        run: vagrant up
      - name: "⏳ Node"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-cp
      - name: "⏳ Canal"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-canal
        continue-on-error: true
      - name: "⏳ CoreDNS"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-coredns
        continue-on-error: true
      - name: "⏳ Metrics Server"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-metrics-server
        continue-on-error: true
      - name: "⏳ Ingress NGINX"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-ingress-nginx
        continue-on-error: true
      - name: "rke2-status"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-status
      - name: "rke2-procps"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-procps
      - name: "rke2-mount-directory"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-mount-directory
      - name: "rke2-killall"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-killall
      - name: "rke2-check-mount"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-check-mount
