name: Nightly Install
on:
  schedule:
    - cron: "0 0 * * 1-5"
  workflow_dispatch: {}
jobs:
  test:
    name: "Smoke Test"
    # nested virtualization is only available on macOS hosts
    runs-on: macos-12
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        channel: [stable]
        vm: [centos-7, rocky-8, opensuse-microos, opensuse-leap, ubuntu-focal, windows-2019, windows-2022]
        include:
          - {channel: latest, vm: rocky-8}
          - {channel: latest, vm: ubuntu-focal}
      max-parallel: 2
    defaults:
      run:
        working-directory: tests/install/${{ matrix.vm }}
    env:
      INSTALL_RKE2_CHANNEL: ${{ matrix.channel }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with: {fetch-depth: 1}
      - name: "Vagrant Cache"
        uses: actions/cache@v3
        with:
          path: |
            ~/.vagrant.d/boxes
            ~/.vagrant.d/gems
          key: install-${{ hashFiles(format('tests/install/{0}/Vagrantfile', matrix.vm)) }}
        id: vagrant-cache
        continue-on-error: true
      - name: "Vagrant Plugin(s)"
        run: vagrant plugin install vagrant-reload vagrant-rke2
      - name: "Vagrant Up ⏩ Install RKE2"
        run: vagrant up
      - name: "⏳ Node"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-node
      - name: "⏳ Canal"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-canal
        continue-on-error: true
      - name: "⏳ CoreDNS"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-coredns
        continue-on-error: true
      - name: "⏳ Metrics Server"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-metrics-server
        continue-on-error: true
      - name: "⏳ Ingress NGINX"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-wait-for-ingress-nginx
        continue-on-error: true
      - name: "rke2-status"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-status
      - name: "rke2-procps"
        if: ${{ !contains(matrix.vm, 'windows') }}
        run: vagrant provision --provision-with=rke2-procps
