on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "channel.yaml"
      - "install.sh"
      - "!.github/workflows/test-suite.yaml"

name: PR Build
permissions:
    contents: read
jobs:
  test-amd64:
    runs-on: runs-on,runner=8cpu-linux-x64,run-id=${{ github.run_id }},image=ubuntu22-full-x64,hdd=64
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v3

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: test build image
      run: |
        export GOARCH=amd64
        export GOOS=linux
        export IID_FILE=$(mktemp)
        export IID_FILE_FLAG="--iidfile ${IID_FILE}"
        make publish-image-runtime-windows
