name: Unit Test Coverage
on:
  push:
    paths-ignore:
      - "**.md"
      - "channels.yaml"
      - "install.sh"
      - "tests/**"
      - ".github/**"
      - "!.github/workflows/unittest.yaml"
  pull_request:
    paths-ignore:
      - "**.md"
      - "channels.yaml"
      - "install.sh"
      - "tests/**"
      - ".github/**"
      - "!.github/workflows/unittest.yaml"

permissions:
  contents: read

jobs:
  test-unit-linux:
    name: Unit Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: Install Go
      uses: ./.github/actions/setup-go
    - name: Run Unit Tests
      run: | 
        go test -coverpkg=./... -coverprofile=coverage.out ./pkg/... -run Unit
        go tool cover -func coverage.out
    - name: Upload Results To Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.out
        flags: unittests # optional
        verbose: true # optional (default = false)
  test-unit-windows:
    name: Unit Tests (windows)
    runs-on: windows-2022
    timeout-minutes: 20
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        cache: false
    - name: Run Unit Tests
      run: |
        go test -coverpkg ./pkg/... -coverprofile coverage.out ./pkg/... -run Unit -v
        go tool cover -func coverage.out
    - name: Upload Results To Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.out
        flags: unittests # optional
        verbose: true # optional (default = false)

